<header class="c-header">
  <section class="c-main">
    <div class="l-container">
      <nav class="c-gnav">
        <div class="c-gnav__logo">
          <div class="c-gnav__image">
            <img src="/assets/img/anhheader.png" alt="anh header">
          </div>
          <div class="c-gnav__link">
            <ul>
              <li class="c-gnav__link bold"><a href="index.html">Home</a></li>
              <li><a href="link1.html">Link 1</a></li>
              <li><a href="link2.html">Link 2</a></li>
            </ul>
          </div>
        </div>
        <div class="c-gnav__space">
        </div>
      </nav>
    </div>
  </section>
</header>

